<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="footer_logo"><a href="#">GLORA</a></div>
                <nav class="footer_nav">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="/categories">shop</a></li>
                        <li><a href="/categories">about us</a></li>
                        <li><a href="/categories">sign in</a></li>
                        <li><a href="/contact">contact us</a></li>
                    </ul>
                </nav>
                <div class="footer_social">
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    Copyright © <%= new Date().getFullYear() %> All rights reserved </a>
                </div>
            </div>
        </div>
    </div>
</footer>